<%= button_to 'Create Post', new_post_path, method: :get %>

<% if @posts.any? %>
	<% @posts.each do |post| %>
		<ul>
			<li>
				<%=	image_tag post.image.url(:medium), class: 'uploaded-pic'%>
				<br>
				<%= post.title %>
				<br>
				<% (post.tags).each do|tag| %>
					<%= link_to tag.text, tag %>
				<% end %>
			</li>
		</ul>
	<%end%>
<%else%>
	<p>No post added yet</p>
<%end%>
