/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";

body{
	margin-top:55px;	
}

.row{

	img{
		border: 10px solid #F0F0F0;
		border-radius: 10px;
		box-shadow: 1px 1px 7px #888888;
	
	}

	.post_title{
		color: #262F00;
		font-family: times;
		font-size: 20px;

	}
}

.navbar-brand{
	width: 180px;
	height: 55px;
	background-image: url('lifeboard.png');
	background-position: center; 
	text-align: center;
}

.navbar {
	background-color: #08627F;
}

.btn-success{
	background-color: #FFA031;
	border: 1px solid #B26000;
	border-radius: 20px;
}

.btn-success:hover{
	transition: background-color 200ms ease; 
	background-color: #E58800;
	border: 1px solid #E58800;
	border-radius: 20px;
}

.create_post{
	float: right;
	margin-top: 8px;
	margin-left: 8px;
	border-radius:20px;
}

.form-group input{
	border-radius:20px;
}