// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: gray;
}

.post{
	margin-bottom: 20px;
}

.post_tags{
	a{
		color: white;
	}
}