// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_tags{
	color: white;
	background-color: #109CFF;
	text-align: center;
	padding:3px 7px;
	margin-right: 3px;
	border-radius: 3px 12px 12px 3px;
}